*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fdfdf9;

}
#content{
    display: flex;
    /* border: 1px solid cyan; */
    width: 75%;
    margin: auto;
}
#left{
    /* border: 1px solid red; */

    line-height: 25px;
    width: 18%;
    margin-right: 2%;
    box-sizing: border-box;
    padding: 33px;
    
}
/* #leftGift{
    border: 1px solid red;
} */
#leftGift>a{
    display: block;
    /* border: 1px solid cyan; */
    padding: 10px 0px 10px 0px;
    /* font-size: 30px; */

}
#inPage{
    text-decoration: underline;
}
#right{
    width: 78%;
    padding-left: 2%;
}
.singleImg{
    height: 50px;
    width: 100%;
    padding: 30px 0px 30px 0px;
}
.singleImg>img{
    height: 100%;
    width: 100%;
}
.slider{
    height: 500px;
    width: 100%;
    padding-bottom: 50px;
}
.slider>img{
    height: 100%;
    width: 100%;
}


#shopCat{
    display: grid;
    grid-template-columns: repeat(3,32%);
    margin: auto;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#shopCat>div{
    margin: auto;
    /* border: 1px solid cyan; */
    /* width: 3%; */
}
#shopCat>div>img{
    width: 100%;
    height: 350px;
}
#explore{
    display: grid;
    grid-template-columns: repeat(2,49%);
    margin: auto;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#explore>div{
    margin: auto;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px solid cyan; */
}
#explore>div>img{
    width: 100%;
    height: 350px;
}
#shop{
    display: grid;
    grid-template-columns: repeat(3,32%);
    margin: auto;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#shop>div{
    margin: auto;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px solid cyan; */
}
#shop>div>img{
    width: 100%;
    height: 350px;
}
#meet{
    display: grid;
    grid-template-columns: repeat(3,32%);
    margin: auto;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#meet>div{
    margin: auto;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px solid cyan; */
}
#meet>div>img{
    width: 100%;
    height: 350px;
}
#book{
    display: grid;
    grid-template-columns: repeat(3,32%);
    margin: auto;
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#book>div{
    padding: 50px 0px 0px 0px;
    box-sizing: border-box;
    margin: auto;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px solid cyan; */
    /* text-align: center; */
    line-height: 25px;
    
}
#book>div>img{
    width: 100%;
    height: 50px;
    padding-bottom: 50px;
}
#book>div>h3{
    /* margin: auto; */
    text-align: center;
    line-height: 40px;
    color: #d3d4d1;
    font-weight: 200;
    padding-bottom: 10px;
}
#ready{
    display: grid;
    grid-template-columns: repeat(3,32%);
    margin: auto;
    height: 700px;
    width: 100%;
    /* border: 1px solid red; */
    justify-content: space-between;
    padding-bottom: 100px;
}
#ready>div{
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    /* margin: auto; */
    box-sizing: border-box;
    height: 500px;
    /* border: 1px solid cyan; */
    /* text-align: center; */
    line-height: 25px;
}
#ready>div>img{
    width: 100%;
    height: 250px;
    /* border: 1px solid brown; */
    padding-bottom: 30px;
}
#ready>div>h3{
    /* margin: auto; */
    /* text-align: center; */
    line-height: 40px;
    /* color: #d3d4d1; */
    font-weight: 200;
    padding-bottom: 10px;
}