*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#content{
    display: flex;
    /* border: 1px solid cyan; */
    width: 75%;
    margin: auto;
}
#left{
    /* border: 1px solid red; */

    line-height: 25px;
    width: 18%;
    margin-right: 2%;
    box-sizing: border-box;
    padding: 33px;
    
}
/* #leftGift{
    border: 1px solid red;
} */
#leftGift>a{
    display: block;
    /* border: 1px solid cyan; */
    padding: 10px 0px 10px 0px;
    /* font-size: 30px; */

}
#inPage{
    text-decoration: underline;
}
#right{
    /* border: 1px solid black; */
    width: 78%;
    margin-left: 2%;
    height: fit-content;
    box-sizing: border-box;
    padding: 0;
}
#rightUp{
    /* border: 1px solid brown; */
    height: 75px;
    box-sizing: border-box;
    padding: 23px 0px 0px 0px;
    justify-content: space-between;
    display: flex;
}
#pageCategory{
    width: 70%;
    height: 40px;
    /* border: 1px solid coral; */
    /* margin: auto; */
    margin-top: 10px;
    
    
    display: flex;
}
#categoryName{
    /* border: 1px solid coral; */
    height: 100%;
    width: auto;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 22px;
}
#categoryQty{
    /* border: 1px solid coral; */
    height: 100%;
    width: auto;
    font-size: 16px;
    margin-top: 5px;
}
#sort{
    /* border: 1px solid crimson; */
    margin: auto;
}
#sorting{
    height: 35px;
    border-radius: 7%;
}
#rightDown{
    display: grid;
    grid-template-columns: repeat(4,22%);
    justify-content: space-between;
}
.div{
    height: 600px;
    width: 100%;
    line-height: 30px;

}
.img{
    height: 400px;
    width: 100%;
}
